matplotlib==3.1
numpy==1.22.3
opencv-python==4.5.5.64
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.2+cu113
torchvision==0.11.3+cu113
albumentations==1.1.0
torchmetrics==0.7.2
torchsummary==1.5.1
pandas==1.4.2
pytorch-lightning==1.5.10
scikit-learn==1.0.2
tqdm==4.63.0
seaborn==0.11.2
torchmetrics
dynaconf
wandb